altair 
annotated-types==0.7.0
anyio==4.9.0
asttokens 
attrs 
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
contourpy 
cryptography 
cycler 
debugpy 
decorator 
dnspython 
docopt==0.6.2
duckdb 
et_xmlfile 
executing 
fonttools 
gitdb 
GitPython 
google-auth==2.40.3
google-genai==1.19.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2 
joblib 
jsonschema 
jsonschema-specifications 
jupyter_client 
jupyter_core 
kiwisolver 
MarkupSafe 
matplotlib==3.10.0
matplotlib-inline 
mkl-service==2.4.0
mkl_fft 
mkl_random 
narwhals 
nest_asyncio 
numexpr 
numpy 
openpyxl 
packaging 
pandas 
parso 
pillow 
pipreqs==0.4.13
platformdirs 
plotly 
prompt_toolkit 
protobuf 
psutil 
pure-eval 
pyarrow 
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser 
pydantic==2.11.5
pydantic_core==2.33.2
Pygments 
pymongo 
pyparsing 
PySocks 
python-dateutil 
pytz 
pywin32==308
PyYAML 
pyzmq 
referencing 
requests 
rpds-py 
rsa==4.9.1
scikit-learn 
scipy 
seaborn 
setuptools==72.1.0
six 
smmap 
sniffio==1.3.1
stack-data 
streamlit 
tenacity 
threadpoolctl 
toml 
tornado 
traitlets 
typing-inspection==0.4.1
typing_extensions 
tzdata 
urllib3 
watchdog 
wcwidth 
websockets==15.0.1
wheel==0.45.1
win_inet_pton 
yarg==0.1.10
